services:
  client:
    image: mphotos
    container_name: mPhotos
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 5174:3000
    volumes:
      # Map originals directory and directory for thumbnails to be created
      - :/originals
      - :/thumbs